

@media screen and (max-width: 414px){
    .MeuLogo{
        display: none;
    }
}


@media screen and (max-width: 414px){
    .meunome {
        display:none;
        
    }
}

@media screen and (max-width: 414px){
    .mobile__p {
        display: inline !important;
        font-size: 15px;
        color: white;
        font-size: 0.9em;
        position: absolute;
        top: 15px;
        left: 6px;
    }
}


@media screen and (max-width: 414px){
    .lista-itens {
        position: absolute;
        top: 50px;
        margin-top: 1.5em;
    }
}




@media screen and (max-width: 414px){
    .lista-itens__links2 {
        margin-top: 30px;
        color: white;
        border: 0.5em solid white; 
        font-size: 0.9em;       
            
    }
}



@media screen and (max-width: 414px){
    .MeuLogo{
        display: none;
    }
}


@media screen and (max-width: 414px){
    .cabecalho{
        position: relative;
        top: 25px;
        
            
    }
}


@media screen and (max-width: 414px){
    .horario {
        display: none;
            
    }
}


@media screen and (max-width: 414px){
    .titulo-secundario {
        color: white;
        padding: 30px 0 0 0;  
    }
}


@media screen and (max-width: 414px){
    .titulo__musica {
        color: white;
        padding: 30px 0 0 0; 
        position: relative;
        right: 27px; 
    }
}


@media screen and (max-width: 414px){
    .Banner {
        width: 250px;
        position: absolute;
        top: 27%;
        left: 32%;  
        opacity: 1;
        transition: 400ms;
        box-shadow: 10px 10px 10px 10px #00BFFF;
}
}


@media screen and (max-width: 414px){
    .player {
      display: inline;
      padding-left: 37px;
}
}


@media screen and (max-width: 414px){
    .imagemdabody {
      width: 90px;
}
}