.titulo-secundario {
    padding: 1em;
    font-family: fantasy;
    width: 2em;
    white-space: nowrap;
    margin: 3em 0 0 5px;

}

.sobre__mim {
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bold;
}


.minha__foto {
     text-align: center;
     width: 250px;
     padding-left: 348px;
}

